#back-image {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	animation: play-opacity 3s normal 0s 1;
}

@keyframes play-opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
