input {
	width: 7.5vh;
	height: 7.5vh;
	border: 0.05rem solid black;
	appearance: none;
	background-color: rgba(255, 255, 255, 0.37);
	font-size: 35px;
	color: rgb(255, 255, 255);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input:hover {
	background-color: rgba(255, 255, 255, 0);
}

input:focus {
	background-color: rgba(255, 255, 255, 0);
	color: rgb(255, 234, 0);
}

.bd-right {
	border-right: 0.1rem solid black;
}

.disabled-box {
	color: rgb(0, 0, 0);
}
