#sudoku {
	border: 1px solid black;
	width: fit-content;
	margin: 0%;
	padding: 0%;
}

.main-matrix {
	animation: play-opacity 5s normal 0s 1;
	font-family: Georgia, "Times New Roman", Times, serif;
}

@keyframes matrix-loader {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
